backup
.DS_Store
__pycache__/
checkpoint/
checkpoint.zip
EmoVoice-DB/
EmoVoice-DB.zip
.vscode/
css/
audios/
examples/tts/README_transformers_wrapper.md
examples/tts/train_transformers_wrapper_example.py
wandb/
EmoVoice-GRPO/